
.vs/
/src/PortalCatolicoBrasil/.vs/PortalCatolicoBrasil/config/applicationhost.config
/src/PortalCatolicoBrasil/.vs/PortalCatolicoBrasil/DesignTimeBuild/.dtbcache.v2
/src/PortalCatolicoBrasil/.vs/PortalCatolicoBrasil/v17/.futdcache.v2
/src/PortalCatolicoBrasil/.vs/PortalCatolicoBrasil/v17/.suo
/src/PortalCatolicoBrasil/.vs/PortalCatolicoBrasil/v17/DocumentLayout.json
