
.vs/
/src/PortalCatolicoBrasil/.vs/PortalCatolicoBrasil/config/applicationhost.config
/src/PortalCatolicoBrasil/.vs/PortalCatolicoBrasil/DesignTimeBuild/.dtbcache.v2
/src/PortalCatolicoBrasil/.vs/PortalCatolicoBrasil/v17/.futdcache.v2
/src/PortalCatolicoBrasil/.vs/PortalCatolicoBrasil/v17/.suo
/src/PortalCatolicoBrasil/.vs/PortalCatolicoBrasil/v17/DocumentLayout.json
	
/src/PortalCatolicoBrasil/bin/Debug/net8.0/PortalCatolicoBrasil.dll
/src/PortalCatolicoBrasil/bin/Debug/net8.0/PortalCatolicoBrasil.GeneratedMSBuildEditorConfig.editorconfig

/src/PortalCatolicoBrasil/bin/Debug/net8.0/PortalCatolicoBrasil.exe
/src/PortalCatolicoBrasil/bin/Debug/net8.0/PortalCatolicoBrasil.pdb

/src/PortalCatolicoBrasil/obj/Debug/net8.0/apphost.exe
/src/PortalCatolicoBrasil/obj/Debug/net8.0/PortalCatolicoBrasil.AssemblyInfo.cs
/src/PortalCatolicoBrasil/obj/Debug/net8.0/PortalCatolicoBrasil.AssemblyInfoInputs.cache
/src/PortalCatolicoBrasil/obj/Debug/net8.0/PortalCatolicoBrasil.csproj.CoreCompileInputs.cache
/src/PortalCatolicoBrasil/obj/Debug/net8.0/PortalCatolicoBrasil.dll
/src/PortalCatolicoBrasil/obj/Debug/net8.0/PortalCatolicoBrasil.pdb
/src/PortalCatolicoBrasil/obj/Debug/net8.0/PortalCatolicoBrasil.sourcelink.json

/src/PortalCatolicoBrasil/obj/Debug/Release/net8.0/PortalCatolicoBrasil.AssemblyInfo.cs
/src/PortalCatolicoBrasil/obj/Debug/Release/net8.0/PortalCatolicoBrasil.AssemblyInfoInputs.cache
/src/PortalCatolicoBrasil/obj/Debug/Release/net8.0/PortalCatolicoBrasil.csproj.AssemblyReference.cache
/src/PortalCatolicoBrasil/obj/Debug/Release/net8.0/PortalCatolicoBrasil.GeneratedMSBuildEditorConfig.editorconfig

/src/PortalCatolicoBrasil/obj/Debug/net8.0/ref/PortalCatolicoBrasil.dll
/src/PortalCatolicoBrasil/obj/Debug/net8.0/refint/PortalCatolicoBrasil.dll
