@model PortalCatolico.Models.EventoViewModel

@{
    ViewData["Title"] = "Cadastro de Evento";
}

<div class="cadastro-igreja">
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success alert-div poppins-medium">
            @TempData["AlertMessage"]
        </div>
    }

    <div class="cards">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="igreja-card">
                <h3 class="poppins-semibold">Informações da Igreja</h3>
                <div class="card-info-igreja row mt-3 pt-3 px-3 pb-4 bg-light poppins-regular">
                    <div class="form-group">
                        <label asp-for="Evento.CNPJ" class="poppins-medium fs-5 control-label">CNPJ*</label>
                        <input asp-for="Evento.CNPJ" name="viewModel.Evento.CNPJ" class="input-cnpj form-control" type="text" id="cnpj" maxlength="18" placeholder="00.000.000/0000-00" autocomplete="off" />
                        <span asp-validation-for="Evento.CNPJ" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Evento.NomeParoquia" class="poppins-medium fs-5 control-label">Nome da igreja*</label>
                        <input asp-for="Evento.NomeParoquia" name="viewModel.Evento.NomeParoquia" class="input-border-none-radius form-control" placeholder="Digite o nome" autocomplete="off" />
                        <span asp-validation-for="Evento.NomeParoquia" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-5">
                        <label asp-for="Evento.Telefone" class="poppins-medium fs-5 control-label">Telefone*</label>
                        <input asp-for="Evento.Telefone" name="viewModel.Evento.Telefone" class="input-border-none-radius form-control" type="tel" id="telefone" maxlength="15" placeholder="(00) 00000-0000" />
                        <span asp-validation-for="Evento.Telefone" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-7">
                        <label asp-for="Evento.Email" class="poppins-medium fs-5 control-label">E-mail*</label>
                        <input asp-for="Evento.Email" name="viewModel.Evento.Email" class="input-border-none-radius form-control" placeholder="Digite o e-mail" autocomplete="off" />
                        <span asp-validation-for="Evento.Email" class="text-danger"></span>
                    </div>
                    <p class=" text-danger mt-2"><span class="fs-5">*</span><span class="fs-6"> Campos obrigatórios</span></p>
                </div>
            </div>
            <div class="endereco-card">
                <h3 class="poppins-semibold">Informações do Evento</h3>
                <div class="card-end-igreja row mt-3 pt-3 px-3 pb-4 bg-light poppins-regular">
                    <div class="form-group">
                        <label asp-for="Evento.TituloEvento" class="poppins-medium fs-5 control-label">Título do Evento*</label>
                        <input asp-for="Evento.TituloEvento" name="viewModel.Evento.TituloEvento" class="input-border-none-radius form-control" placeholder="Título do Evento" />
                        <span asp-validation-for="Evento.TituloEvento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Evento.CEP" class="poppins-medium fs-5 control-label">CEP*</label>
                        <input asp-for="Evento.CEP" name="viewModel.Evento.CEP" class="input-cep form-control" type="text" id="cep" maxlength="9" placeholder="00000-000" autocomplete="off" />
                        <span asp-validation-for="Evento.CEP" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Evento.Logradouro" class="poppins-medium fs-5 control-label">Logradouro*</label><span class="fs-6"> (Rua, Avenida, Travessa, etc.)</span>
                        <input asp-for="Evento.Logradouro" name="viewModel.Evento.Logradouro" class="input-border-none-radius form-control" placeholder="Digite o endereço com número" autocomplete="off" />
                        <span asp-validation-for="Evento.Logradouro" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="Evento.Estado" class="poppins-medium fs-5 control-label">Estado*</label>
                        <input type="hidden" id="estadoEventoHidden" name="viewModel.Evento.Estado">
                        <select asp-for="Evento.Estado" name="viewModel.Evento.Estado" class="estado-select input-border-none-radius form-control" data-cidade="CidadeIgreja" data-hidden="estadoEventoHidden">
                            <option disabled selected>Selecione o estado</option>
                        </select>
                        <span asp-validation-for="Evento.Estado" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="Evento.Cidade" class="poppins-medium fs-5 control-label">Cidade*</label>
                        <select asp-for="Evento.Cidade" name="viewModel.Evento.Cidade" id="CidadeIgreja" class="cidade-select input-border-none-radius form-control">
                            <option disabled selected>Selecione a cidade</option>
                        </select>
                        <span asp-validation-for="Evento.Cidade" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-4">
                        <label asp-for="Evento.Bairro" class="poppins-medium fs-5 control-label">Bairro*</label>
                        <input asp-for="Evento.Bairro" name="viewModel.Evento.Bairro" class="input-border-none-radius form-control" placeholder="Digite o bairro corretamente" autocomplete="off" />
                        <span asp-validation-for="Evento.Bairro" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Evento.DataInicio" class="poppins-medium fs-5 control-label">Data de Início*</label>
                        <input type="date" asp-for="Evento.DataInicio" name="viewModel.Evento.DataInicio" class="input-border-none-radius form-control" />
                        <span asp-validation-for="Evento.DataInicio" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Evento.HorarioInicio" class="poppins-medium fs-5 control-label">Horário de Início*</label>
                        <input type="time" asp-for="Evento.HorarioInicio" name="viewModel.Evento.HorarioInicio" class="input-border-none-radius form-control" />
                        <span asp-validation-for="Evento.HorarioInicio" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Evento.DataEncerramento" class="poppins-medium fs-5 control-label">Data de Encerramento*</label>
                        <input type="date" asp-for="Evento.DataEncerramento" name="viewModel.Evento.DataEncerramento" class="input-border-none-radius form-control" />
                        <span asp-validation-for="Evento.DataEncerramento" class="text-danger"></span>
                    </div>
                    <div class="form-group col-sm-6">
                        <label asp-for="Evento.HorarioEncerramento" class="poppins-medium fs-5 control-label">Horário de Encerramento*</label>
                        <input type="time" asp-for="Evento.HorarioEncerramento" name="viewModel.Evento.HorarioEncerramento" class="input-border-none-radius form-control" />
                        <span asp-validation-for="Evento.HorarioEncerramento" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Evento.LinkEvento" class="poppins-medium fs-5 control-label">Link do Evento</label><span class="fs-6"> Opcional</span>
                        <input type="text" asp-for="Evento.LinkEvento" name="viewModel.Evento.LinkEvento" class="input-border-none-radius form-control" placeholder="Link do Evento " />
                        <span asp-validation-for="Evento.LinkEvento" class="text-danger"></span>
                    </div>
                    <p class=" text-danger mt-2"><span class="fs-5">*</span><span class="fs-6"> Campos obrigatórios</span></p>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-primary btn-cadastrar-igreja poppins-medium fs-5">Cadastrar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}