@{
    ViewData["Title"] = "Liturgia";
}

<div class="text-center btn--group poppins-semibold">
    <button class="active">1ª LEITURA</button>
    <button>SALMO</button>
    <button>2ª LEITURA</button>
    <button>HOMILIA</button>
</div>
<br />

<div id="liturgia-container">
    <p>Carregando a liturgia...</p>
</div>