@{
    ViewData["Title"] = "Como rezar o terço";
}

<div class="container-primeirapublicacao">
    <a href="~/Home/Publicacoes" class="botao-voltar">Voltar</a>

    <h1 class="mt-3">Como rezar o terço</h1>
    <hr class="linha">

    <p class=" mt-3">
        Acompanhe as orações observando no desenho abaixo: <br /> <br />

        <img src="~/css/Images/terco1.png" alt="Como rezar o terço" class="img-fluid rounded"> <br /> <br />

        <b>1 - Inicia-se com sinal da cruz e a oração do Creio.</b> <br /> <br />

        <b>2 - Terminado o Credo, presta-se homenagem à Santíssima Trindade:</b> <br /> <br />

        Com um Pai-Nosso, Três Ave-Marias e um Glória-ao-Pai; <br /> <br />

        - Primeira Ave-Maria em honra a Deus Pai que nos criou; <br /> <br />

        - Segunda, a Deus Filho que nos Remiu; <br /> <br />

        - Terceira, ao Espírito Santo que nos Santifica. <br /> <br />

        <b>3 - Veja a contemplação dos mistérios:</b> <br /> <br />
        A história de Jesus é o centro da meditação e esta foi dividida em 4 partes – que chamamos de mistérios.  Cada mistério podemos meditar em um dia da semana. Veja: <br /> <br />


        <img src="~/css/Images/terco2.png" alt="Mistérios da Luz" class="img-fluid rounded"> <br /> <br />
        <img src="~/css/Images/terco3.png" alt="Mistérios da Dor" class="img-fluid rounded"> <br /> <br />
        <img src="~/css/Images/terco4.png" alt="Mistérios da Glória" class="img-fluid rounded"> <br /> <br />
        <img src="~/css/Images/terco5.png" alt="Mistérios da Alegria" class="img-fluid rounded"> <br /> <br />

        Em cada Mistério se reza um Pai-Nosso, dez Ave-Marias, um Glória-ao-Pai e a jaculatória: <br /> <br />

        <b>Oração:</b> Glória ao Pai, ao Filho e o Espírito Santo. Como era no princípio, agora e sempre. Amém. <br /> <br />

        <b>Oração - Jaculatória:</b> - Ó! Meu Jesus, perdoai-nos, livra-nos do fogo do inferno, levai as almas todas para o Céu e socorrei principalmente as que mais precisarem. <br /> <br />

        <b>4- Ao término do último mistério reza-se a Salve-Rainha</b> <br /> <br />

        <img src="~/css/Images/terco6.png" alt="Nossa Senhora da Conceição Aparecida" class="img-fluid rounded"> <br /> <br />

        Fontes: a12.com/devotos-mirins
    </p>

    <hr class="linha">

    <a href="~/Home/Publicacoes" class="botao-voltar mt-2">Voltar</a>
</div>