@{
    ViewData["Title"] = "Publicações";
}

<div class="container-publicacoes">

    <h1>Publicações</h1>
    <hr class="linha">
    <div class="row align-items-center mt-3">
        <div class="col-md-5">
            <img src="~/css/Images/terco.png" alt="Como rezar o terço" class="img-fluid rounded">
        </div>
        <div class="col-md-7">
            <h4 class="mb-5">Como rezar o terço</h4>
            <p class="mb-5">Rezar o terço é como um exercício pra ficarmos bem pertinho da Mãezinha do Céu.</p>
            <a href="~/Home/PrimeiraPublicacao" class="text-primary fw-bold leia-mais">LEIA MAIS...</a>
        </div>
    </div>
    <hr class="linha mt-3">
    <div class="row align-items-center mt-3">
        <div class="col-md-5">
            <img src="~/css/Images/papa.png" alt="Igreja celebra o Dia do Papa" class="img-fluid rounded">
        </div>
        <div class="col-md-7">
            <h4 class=" mb-5">Igreja celebra o Dia do Papa</h4>
            <p class=" mb-5">Esta data tem o propósito de homenagear o trabalho do maior líder da Igreja Católica Apostólica Romana. </p>
            <a href="~/Home/SegundaPublicacao" class="text-primary fw-bold leia-mais">LEIA MAIS...</a>
        </div>
    </div>
    <hr class="linha mt-3">
</div>