@{
}
@{
    ViewData["Title"] = "Igreja celebra o Dia do Papa";
}

<div class="container-segundapublicacao">
    <a href="~/Home/Publicacoes" class="botao-voltar">Voltar</a>

    <h1 class="mt-3">Igreja celebra o Dia do Papa</h1>
    <hr class="linha">

    <p class=" mt-3">

        <img src="~/css/Images/papa1.png" alt="Igreja celebra o Dia do Papa" class="img-fluid rounded"> <br /><br />

        <b>Olá, amiguinhos! </b> <br /><br />

        A nossa Igreja celebra no dia 29 de junho o Dia do Papa. <br /><br />

        Esta data tem o propósito de homenagear o trabalho do maior líder da Igreja Católica Apostólica Romana. <br /><br />

        O Dia do Papa tem referência à São Pedro, que teria sido o “pai da Igreja Católica” e primeiro Papa da história. <br /><br />

        O Papa, enquanto sucessor de Pedro, representa as missões da Igreja. Por isso, ele se ocupa e preocupa com a união da Igreja e ao mesmo tempo, anima as pessoas para manter viva a fé e a ação missionária. <br /><br />

        No dia 13 de março de 2013 o Cardeal Jorge Mario Bergoglio foi anunciado Papa da Igreja Católica. Ele escolheu o nome Francisco. Completa-se 3 anos de pontificado e Francisco tem clareza sobre sua missão mais urgente: “confirmar os irmãos na fé, reanimá-los, dar-lhes novamente certeza e segurança interior, superar certo desalento e baixa auto-estima na Igreja, restituir ao povo católico a alegria do Evangelho, a identificação com a própria Igreja e o senso de pertença a ela”. <br /><br />

        O Papa Francisco sempre termina os seus discursos pedindo que rezem por ele. Em especial no dia de hoje, vamos atender o seu apelo e oferecer a Deus as nossas orações por ele e por seu ministério. <br /><br />

        <b>Oremos pelo nosso Papa Francisco!</b> <br /><br />

        Fontes: a12.com/devotos-mirins
    </p>

    <hr class="linha">

    <a href="~/Home/Publicacoes" class="botao-voltar mt-2">Voltar</a>
</div>