
/* N�O MODIFICAR O C�DIGO A PARTIR DAQUI----------------------------------------------------------------------------------------------------*/

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: #1E1E1E;
}




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    color: black;
    text-align: center;
    align-items: center;
    position: relative;
}

.cabecalho {
    width: 1000px;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    gap: 25px;
    justify-content: center;
}

.imagemCabecalho {
}

.cruz-back {
    width: 100%;
    margin-top: 30px;
    z-index: -1;
}

.menu {
    color: black;
    font-size: 18px;
    position: absolute;
    height: 65px;
    background: #F7F7F7;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 1000px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 155px;
    width: 1000px;
    left: calc(50% - 1000px/2);
}

.ul--nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.li--nav {
    list-style: none;
    text-decoration: none;
}

.a--nav {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    padding-top: 50px;
    margin-top: 50px;
    background: #EDEDED;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 50px;
    position: absolute;
    max-width: 1045px;
    min-width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    padding-top: 50px;
    margin-top: 50px;
    background: #EDEDED;
}

.direitos {
    background: #EDEDED;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    padding-top: 0;
}

/* N�O MODIFICAR O C�DIGO ANTES DAQUI-------------------------------------------------------------------------------------------------------*/





/*-----------------IN�CIO LITURGIA-----------------*/
.btn--group {
    --button-background: #D6E8FF;
    --button-color: #1e1e1e;
    display: flex;
    min-width: 300px;
    width: 960px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    color: var(--button-color);
    border-radius: 10px;
    overflow: hidden;
    font-size: 18px;
    top: 635PX;
    left: calc(50% - 960px/2);
    position: absolute;
    z-index: 2;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
}

.btn--group > button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    border: none;
    outline: none;
    position: relative;
    background-color: #F7F7F7;
}

.btn--group .active {
    background-color: var(--button-background);
    color: var(--button-color);
}

.btn--group > button:hover {
    background: #E9F2FF;
    color: var(--button-color);
}

.btn--group > button:not(:last-child):after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    right: 0px;
    z-index: 1;
}






.liturgia-container {
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content:center;
    margin-top: 95px;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    width: 960px;
    gap: 20px;
    color: #1e1e1e;
}

.liturgia-data-current {
    display: flex;
    height: 50px;
    gap: 5px;
}

.icon-event {
    height: 100%;
    width: 30px;
    padding-top: 5% !important;
    color: rgb(8, 73, 105, 77%);
}

/*.material-symbols-outlined {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' -25, 'opsz' 48;
    
}*/

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48;
    font-size: 30px !important;
}

.liturgiaData {
    padding-top: 2px;
    font-size: 30px;
    height: 100%;
    color: rgb(8, 73, 105, 77%);
}

.corLiturgia {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    font-size: 16px;
}
/*
.material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' -25, 'opsz' 40;
    height: 24px;
}*/

.material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 24
}

.red {
    color: #d02b2b;
    font-size: 20px !important;
}


/*-----------------FIM LITURGIA-----------------*/


/*-----------------INICIO SANTO DO DIA-----------------*/

.container-santodia {
    display: flex;
    flex-direction: column;
    width: 960px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}
/*-----------------FIM SANTO DO DIA-----------------*/

/*-----------------INICIO PUBLICACOES-----------------*/

.container-publicacoes {
    display: flex;
    flex-direction: column;
    width: 960px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.linha {
    border: none;
    border-top: 1px solid #333333; /* Cor mais escura para a linha */
    margin: 0;
    opacity: 0.3; /* Torna a linha um pouco mais opaca */
    margin-top: 5px;
}
.leia-mais {
    display: block; /* Garante que o link ocupe uma linha própria */
    margin-top: 10px; /* Espaço adicional acima do link */
    text-align: right; /* Alinha o link à direita */
    text-decoration: none;
}

/*-----------------FIM PUBLICACOES-----------------*/

/*-----------------INICIO PRIMEIRA PUBLICACAO-----------------*/

.container-primeirapublicacao {
    display: flex;
    flex-direction: column;
    width: 960px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.botao-voltar {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
    width: 110px;
    text-decoration: none;
}

.botao-voltar::before {
    content: '←';
    margin-right: 10px;
}

.botao-voltar:hover {
    background-color: #e0e0e0;
}

.botao-voltar:visited, .botao-voltar:link {
    color: black; /* Garante que a cor do texto seja sempre preta */
}

/*-----------------FIM PRIMEIRA PUBLICACAO-----------------*/

/*-----------------INICIO SEGUNDA PUBLICACAO-----------------*/

.container-segundapublicacao {
    display: flex;
    flex-direction: column;
    width: 960px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}


/*-----------------FIM SEGUNDA PUBLICACAO-----------------*/