
/* NÃO MODIFICAR O CÓDIGO A PARTIR DAQUI----------------------------------------------------------------------------------------------------*/

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    color: #1E1E1E;
}




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


header {
    color: black;
    text-align: center;
    align-items: center;
    position: relative;
}

.cabecalho {
    width: 1000px;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    gap: 25px;
    justify-content: center;
}

.imagemCabecalho {
}

.cruz-back {
    width: 100%;
    margin-top: 30px;
    z-index: -1;
}

.menu {
    color: black;
    font-size: 18px;
    position: absolute;
    height: 65px;
    background: #F7F7F7;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 1000px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 155px;
    width: 1000px;
    left: calc(50% - 1000px/2);
}

.ul--nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.li--nav {
    list-style: none;
    text-decoration: none;
}

.a--nav {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    padding-top: 50px;
    margin-top: 50px;
    background: #EDEDED;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 50px;
    position: absolute;
    max-width: 1045px;
    min-width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    padding-top: 50px;
    margin-top: 50px;
    background: #EDEDED;
}

.direitos {
    background: #EDEDED;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    padding-top: 0;
}

/* NÃO MODIFICAR O CÓDIGO ANTES DAQUI-------------------------------------------------------------------------------------------------------*/





/*-----------------INÍCIO LITURGIA-----------------*/
.btn--group {
    --button-background: #D6E8FF;
    --button-color: #1e1e1e;
    display: flex;
    min-width: 300px;
    width: 960px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    color: var(--button-color);
    border-radius: 10px;
    overflow: hidden;
    font-size: 18px;
    top: 635PX;
    left: calc(50% - 960px/2);
    position: absolute;
    z-index: 2;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
}

.btn--group > button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    border: none;
    outline: none;
    position: relative;
    background-color: #F7F7F7;
}

.btn--group .active {
    background-color: var(--button-background);
    color: var(--button-color);
}

.btn--group > button:hover {
    background: #E9F2FF;
    color: var(--button-color);
}

.btn--group > button:not(:last-child):after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    right: 0px;
    z-index: 1;
}

.liturgia--text{
    margin-top: 60px;
}
/*-----------------FIM LITURGIA-----------------*/


/*-----------------INICIO SANTO DO DIA-----------------*/

.container-santodia {
    display: flex;
    flex-direction: column;
    width: 960px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}



/*-----------------INICIO INDEX-----------------*/

.bg-info {
    background-color: #E6F1FF !important;
}

.publicacoes {
    background-color: #EFF5FE !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botaogps{
    border-radius:50px;
}

.buscar{
    width: 130px;
}

.campoform{
    background-color: #EDEDED;
    border: none;
}

.formpai {
    border: none;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.mainindex{
    width:1050px;
    margin-left: auto;
    margin-right: auto;
}




/*-----------------FIM INDEX-----------------*/