@{
    ViewData["Title"] = "Publicações";
}

<div class="container-publicacoes poppins-regular">

    <h1 class="margem-titulo">Publicações</h1>
    <hr>

    <div class="row align-items-center mt-3">
        <div class="col-md-5">
            <img src="~/css/Images/terco.png" alt="Como rezar o terço" class="img-fluid rounded imagem-publicacoes">
        </div>
        <div class="col-md-7 texto-publicacoes">
            <h4 class="mb-5">Como rezar o terço</h4>
            <p class="mb-5">Rezar o terço é como um exercício pra ficarmos bem pertinho da Mãezinha do Céu.</p>
            <a href="~/Home/PrimeiraPublicacao" class="text-primary fw-bold leia-mais">LEIA MAIS...</a>
        </div>
    </div>

    <hr class="mt-3">
    <div class="row align-items-center mt-3">
        <div class="col-md-5">
            <img src="~/css/Images/papa.png" alt="Igreja celebra o Dia do Papa" class="img-fluid rounded imagem-publicacoes">
        </div>
        <div class="col-md-7 texto-publicacoes ">
            <h4 class=" mb-5">Igreja celebra o Dia do Papa</h4>
            <p class=" mb-5">Esta data tem o propósito de homenagear o trabalho do maior líder da Igreja Católica Apostólica Romana. </p>
            <a href="~/Home/SegundaPublicacao" class="text-primary fw-bold leia-mais">LEIA MAIS...</a>
        </div>
    </div>
    <hr class="mt-3">

    <div class="anuncio-publicacoes container mt-5 bg-info rounded row poppins-regular">
        <div class="Drog col-sm-6">
            <img src="~/css/Images/Drogaria.png">
        </div>
        <div class="Calc col-sm-6">
            <img src="~/css/Images/Calcitran.png">
        </div>
    </div>
</div>