
/* ------------------INICIO CABEÇALHO E FOOTER--------------------------------------------------------------------------------*/
html {
    font-size: 16px;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: #1E1E1E;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    color: black;
    text-align: center;
    align-items: center;
    position: relative;
}

.cabecalho {
    width: 1000px;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    gap: 25px;
    justify-content: center;
}

.cruz-back {
    width: 100%;
    margin-top: 30px;
    z-index: -1;
}

.menu {
    color: black;
    font-size: 18px;
    position: absolute;
    height: 65px;
    background: #F7F7F7;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 1000px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    top: 155px;
    width: 1000px;
    left: calc(50% - 1000px/2);
}

.ul--nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.li--nav {
    list-style: none;
    text-decoration: none;
}

.a--nav {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    padding-top: 50px;
    margin-top: 50px;
    background: #EDEDED;
}

.rodape {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 50px;
    position: absolute;
    max-width: 1045px;
    min-width: 300px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    padding-top: 50px;
    margin-top: 50px;
    background: #EDEDED;
}

.direitos {
    background: #EDEDED;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
    padding-top: 0;
}

.redes {
    text-decoration: none;
    color: #1E1E1E;
}

.texto-welcome {
    position: relative;
    margin-bottom: 200px;
    width: 650px;
    font-size: 20px;
    text-shadow: 0.1em 0.1em 0.2em gray;
    text-align: justify;
    color: #1E1E1E;
    margin-left: 5%;
    margin-right: auto;
    margin-top: -250px;
    min-width: 300px;
}

.reftexto-welcome {
    text-align: right;
    font-size: 16px;
    font-style: italic;
    color: #1E1E1E;
}

.mainindex {
    z-index: 1;
}

@media (max-width: 1025px) {
    .menu {
        color: black;
        font-size: 18px;
        position: absolute;
        height: 65px;
        background: #F7F7F7;
        box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        max-width: 800px;
        margin-left: 10%;
        margin-right: auto;
        top: 155px;
        width: 800px;
    }

    .ul--nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .li--nav {
        list-style: none;
        text-decoration: none;
    }

    .a--nav {
        text-decoration: none;
        color: black;
    }

    body {
        color: #1E1E1E;
        width: 100%;
    }

    .cabecalho {
        width: 1000px;
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: baseline;
        margin-left: auto;
        margin-right: auto;
        gap: 25px;
        justify-content: center;
    }



    .cruz-back {
        width: 100%;
        margin-top: 30px;
        z-index: -1;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        position: relative;
        width: 100%;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
        padding-top: 50px;
        margin-top: 50px;
        background: #EDEDED;
    }

    .rodape {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 50px;
        position: absolute;
        max-width: 800px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
        padding-top: 50px;
        margin-top: 50px;
        background: #EDEDED;
        font-size: 14px;
    }

    .rodape h4 {
        font-size: 18px;
    }

    .direitos {
        font-size: 14px;
    }

    .redes {
        text-decoration: none;
        color: #1E1E1E;
    }

    .texto-welcome {
        position: relative;
        margin-bottom: 70px;
        width: 500px;
        font-size: 14px;
        text-shadow: 0.1em 0.1em 0.2em gray;
        text-align: justify;
        color: #1E1E1E;
        margin-left: 10%;
        margin-right: auto;
        margin-top: -160px;
        min-width: 300px;
    }

    .reftexto-welcome {
        text-align: right;
        font-size: 16px;
        font-style: italic;
        color: #1E1E1E;
    }

    .mainindex {
        z-index: 1;
    }
}

@media (max-width: 769px) {

    .menu {
        color: black;
        font-size: 18px;
        position: absolute;
        height: 65px;
        background: #F7F7F7;
        box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        max-width: 700px;
        margin-left: 20%;
        margin-right: auto;
        top: 155px;
        width: 800px;
        font-size: 16px;
    }

    .ul--nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .li--nav {
        list-style: none;
        text-decoration: none;
    }

    .a--nav {
        text-decoration: none;
        color: black;
    }

    body {
        color: #1E1E1E;
        width: 765px;
    }

    .cabecalho {
        width: 769px;
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: baseline;
        margin-left: auto;
        margin-right: auto;
        gap: 25px;
        justify-content: center;
    }



    .cruz-back {
        width: 768px;
        margin-top: 30px;
        z-index: -1;
    }

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        position: relative;
        width: 769px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
        padding-top: 50px;
        margin-top: 50px;
        background: #EDEDED;
    }

    .rodape {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        gap: 50px;
        position: absolute;
        max-width: 700px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
        padding-top: 50px;
        margin-top: 50px;
        background: #EDEDED;
        font-size: 14px;
    }

    .rodape h4 {
        font-size: 16px;
    }

    .imagemRodape {
        width: 100%
    }

    .redessociais {
        width: 30%;
    }

    .direitos {
        font-size: 14px;
        width: 769px;
    }

    .redes {
        text-decoration: none;
        color: #1E1E1E;
    }

    .texto-welcome {
        position: relative;
        margin-bottom: 30px;
        width: 450px;
        font-size: 14px;
        text-shadow: 0.1em 0.1em 0.2em gray;
        text-align: justify;
        color: #1E1E1E;
        margin-left: -5%;
        margin-right: auto;
        margin-top: -130px;
        min-width: 300px;
    }

    .reftexto-welcome {
        text-align: right;
        font-size: 12px;
        font-style: italic;
        color: #1E1E1E;
    }

    .mainindex {
        z-index: 1;
    }
}


@media (max-width: 426px) {

    .menu {
        color: black;
        font-size: 25px;
        position: absolute;
        height: 100px;
        background: #F7F7F7;
        box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: 20%;
        margin-right: auto;
        top: 155px;
        width: 90%;
        /*padding-right: 40px;*/
    }

    .ul--nav {
        display: flex;
        flex-wrap: wrap;
        column-gap: 2px;
        row-gap: 2px;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .li--nav {
        list-style: none;
        text-decoration: none;
        padding: 1px;
        margin-right: 50px;
    }

    .a--nav {
        text-decoration: none;
        color: black;
    }

    body {
        color: #1E1E1E;
        width: 765px;
    }

    .cabecalho {
        width: 769px;
        font-size: 25px;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        align-items: baseline;
        margin-left: auto;
        margin-right: auto;
        gap: 25px;
        justify-content: center;
    }



    .cruz-back {
        width: 769px;
        height: 230px;
        margin-top: 80px;
        z-index: -1;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 769px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
        padding-top: 1px;
        margin-top: 50px;
        background: #EDEDED;
    }

    .rodape {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 50px;
        position: absolute;
        max-width: 700px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
        bottom: 0px;
        padding-top: 5px;
        margin-top: 50px;
        background: #EDEDED;
        font-size: 20px;
    }

    .rodape h4 {
        font-size: 25px;
    }

    .imagemRodape {
        width: 100%;
    }

    .redessociais {
        width: 60%;
    }

    .direitos {
        font-size: 18px;
        width: 769px;
    }

    .redes {
        text-decoration: none;
        color: #1E1E1E;
    }

    .texto-welcome {
        position: relative;
        margin-bottom: 30px;
        width: 700px;
        font-size: 22px;
        text-shadow: 0.1em 0.1em 0.2em gray;
        text-align: justify;
        color: #1E1E1E;
        margin-left: -8%;
        margin-right: auto;
        margin-top: -180px;
        min-width: 300px;
    }

    .reftexto-welcome {
        text-align: right;
        font-size: 16px;
        font-style: italic;
        color: #1E1E1E;
        margin-top: -20px;
    }

    .mainindex {
        z-index: 1;
    }
}

/* ------------------FIM CABEÇALHO E FOOTER--------------------------------------------------------------------------------*/




/*------------------------INICIO INDEX-------------------------------------------------------------------------------------*/

.bg-info {
    background-color: #E6F1FF !important;
}

.publicacoes {
    background-color: #EFF5FE !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.botaogps {
    border-radius: 50px;
}

.pesqgps {
    margin-left: 50px;
}



.buscar {
    width: 130px;
}

.campoform {
    background-color: #EDEDED;
    border: none;
}

.titulo-form {
    margin-top: 0px;
    margin-left: 20px;
}

.formpai {
    border: none;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 1050px;
    margin-left: -10px;
    font-size: 20px;
}

.mainindex {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
}

form {
    margin-left: auto;
    margin-right: auto;
}

.anuncio {
    align-items: center;
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    border-radius: 15px !important;
}

.Drog {
    padding-left: 130px;
}

.Calc {
    padding-left: 130px;
}

.aqui {
    text-decoration: none;
}

.leia-mais {
    display: block; /* Garante que o link ocupe uma linha própria */
    margin-top: 10px; /* Espaço adicional acima do link */
    text-align: right; /* Alinha o link à direita */
    text-decoration: none;
}

.leia-mais:hover {
    color: dodgerblue !important;
}


@media (max-width: 1025px) {

    .bg-info {
        background-color: #E6F1FF !important;
    }

    .liturgiaSanto {
        width: 900px;
        /*border: 5px solid red;*/
    }

    .Litur {
        width: 80%;
    }

    .Santo {
        width: 80%;
    }

    .publicacoes {
        background-color: #EFF5FE !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 900px;
    }

    .col-md-8 {
        padding-left: 70px;
    }

    .botaogps {
        border-radius: 50px;
    }

    .pesqgps {
        margin-left: 50px;
    }

    .buscar {
        width: 130px;
    }

    .campoform {
        background-color: #EDEDED;
        border: none;
    }

    .titulo-form {
        margin-top: 0;
    }

    .formpai {
        border: none;
        box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 900px;
        margin-left: -10px;
    }

    .mainindex {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        margin-left: auto;
        margin-right: auto;
    }

    .anuncio {
        align-items: center;
        display: flex;
        padding: 20px;
        justify-content: center;
        border-radius: 15px !important;
        width: 900px;
    }

    .Drog {
        padding-left: 130px;
    }

    .Calc {
        padding-left: 130px;
    }

    .aqui {
        text-decoration: none;
    }

    .leia-mais {
        display: block; /* Garante que o link ocupe uma linha própria */
        margin-top: 10px; /* Espaço adicional acima do link */
        text-align: right; /* Alinha o link à direita */
        text-decoration: none;
    }

    .leia-mais:hover {
        color: dodgerblue !important;
    }
}


@media (max-width: 769px) {

    .bg-info {
        background-color: #E6F1FF !important;
    }

    .liturgiaSanto {
        width: 700px;
        margin-left: -40px;
        /*border: 5px solid red;*/
    }

    .Litur {
        width: 80%;
    }

    .Santo {
        width: 80%;
    }

    .publicacoes {
        background-color: #EFF5FE !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 700px;
        margin-left: -40px;
    }

    .Terco {
        width: 140%;
    }

    .EstatuaPapa {
        width: 140%;
    }

    .botaogps {
        border-radius: 50px;
    }

    .pesqgps {
        margin-left: 50px;
    }

    .campoform {
        background-color: #EDEDED;
        border: none;
    }

    .titulo-form {
        margin-top: 0;
    }

    .formpai {
        border: none;
        box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 700px;
        margin-left: -40px;
    }



    .mainindex {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        margin-left: auto;
        margin-right: auto;
    }

    .anuncio {
        align-items: center;
        display: flex;
        padding: 20px;
        justify-content: center;
        border-radius: 15px !important;
        width: 700px;
        margin-left: -40px;
    }

    .Drog {
        padding-left: 60px;
    }

    .Calc {
        padding-left: 60px;
    }

    .aqui {
        text-decoration: none;
    }

    .leia-mais {
        display: block; /* Garante que o link ocupe uma linha própria */
        margin-top: 10px; /* Espaço adicional acima do link */
        text-align: right; /* Alinha o link à direita */
        text-decoration: none;
    }

    .leia-mais:hover {
        color: dodgerblue !important;
    }
}


@media (max-width: 426px) {

    html {
        font-size: 20px;
    }

    .bg-info {
        background-color: #E6F1FF !important;
    }

    .liturgiaSanto {
        width: 700px;
        margin-left: -40px;
        font-size: 22px;
    }

    .imglit {
        width: 600px;
        padding-left: 0px;
    }

    .liturgiaIndex {
    }

    .Litur {
        width: 80%;
        margin-left: 70px;
        padding-bottom: 10px;
    }

    .Santo {
        width: 80%;
        margin-left: 70px;
        padding-bottom: 10px;
        padding-top: 30px;
    }

    .publicacoes {
        background-color: #EFF5FE !important;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 700px;
        margin-left: -40px;
        font-size: 22px;
    }

    .Terco {
        width: 60%;
        margin-left: 110px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .EstatuaPapa {
        width: 60%;
        margin-left: 110px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .comorezar {
        padding-bottom: 30px;
    }

    .botaogps {
        border-radius: 50px;
    }

    .pesqgps {
        margin-left: 50px;
    }

    .campoform {
        background-color: #EDEDED;
        border: none;
    }

    .titulo-form {
        margin-top: 0;
    }

    .formpai {
        border: none;
        box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        width: 700px;
        margin-left: -40px;
    }



    .mainindex {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    form {
        margin-left: auto;
        margin-right: auto;
    }

    .anuncio {
        align-items: center;
        display: flex;
        padding: 20px;
        justify-content: normal;
        border-radius: 15px !important;
        width: 700px;
        margin-left: -40px;
    }

    .Drog {
        padding-left: 5px;
        width: 40%;
        margin-left: 60px;
    }

    .Calc {
        padding-left: 10px;
        width: 10%;
    }

    .aqui {
        text-decoration: none;
    }

    .leia-mais {
        display: block; /* Garante que o link ocupe uma linha própria */
        margin-top: 10px; /* Espaço adicional acima do link */
        text-align: right; /* Alinha o link à direita */
        text-decoration: none;
    }

    .leia-mais:hover {
        color: dodgerblue !important;
    }
}


/*-----------------FIM INDEX-----------------*/




/*-----------------INÍCIO LITURGIA-----------------*/
.btn--group {
    --button-background: #D6E8FF;
    --button-color: #1e1e1e;
    display: flex;
    min-width: 300px;
    width: 75%;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -35px;
    color: var(--button-color);
    border-radius: 10px;
    overflow: hidden;
    font-size: 18px;
    left: calc(50% - 960px/2);
    z-index: 2;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
}

.btn--group > button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    border: none;
    outline: none;
    position: relative;
    background-color: #F7F7F7;
}

.btn--group .active {
    background-color: var(--button-background);
    color: var(--button-color);
}

.btn--group > button:hover {
    background: #E9F2FF;
    color: var(--button-color);
}

.btn--group > button:not(:last-child):after {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    right: 0px;
    z-index: 1;
}

.liturgia-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    width: 75%;
    color: #1e1e1e;
}

.liturgia-header {
    display: flex;
    width: 100%;
    height: 70px;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
    padding-top: 0;
}

.combo-data-liturgia {
    padding-top: 6px;
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: flex-end;
}

.liturgia-data-current {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
    gap: 3px;
}

.icon-event {
    height: 100%;
    color: #717275;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 200, 'opsz' 48;
    font-size: 28px !important;
}

.liturgiaData {
    padding-top: 2px;
    font-size: 28px;
    height: 100%;
    color: #717275;
}

.corLiturgia {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    font-size: 17px;
}

.content {
}

.material-symbols-rounded {
    font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 24;
}

.borda-icon-liturgia {
    border: 2px solid #1E1E1E;
    border-radius: 50px;
    font-size: 15px !important;
}

.liturgia-icon {
    font-size: 17px !important;
}

.liturgiaText {
    line-height: 1.2em;
    font-size: 1.7em;
    padding-top: 0;
    height: 100%;
}

.tituloLiturgia {
    font-size: 20px;
}

.primeiraLeituraReferenciaText,
.salmoReferenciaText,
.segundaLeituraReferenciaText,
.evangelhoReferenciaText {
    font-size: 1.3em;
}

.primeiraLeituraTituloText,
.salmoRefraoText,
.segundaLeituraTituloText,
.evangelhoTituloText {
    font-size: 1.2em;
}

.primeiraLeituraTextoText,
.salmoTextoText,
.segundaLeituraTextoText,
.evangelhoTextoText {
    font-size: 1.1em;
}

.salmoTextoText {
    margin-top: -50px
}

.fonte-homilia {
    font-size: 0.8em;
    color: gray;
}
/*-----------------FIM LITURGIA-----------------*/




/*-----------------INICIO SANTO DO DIA-----------------*/
.container-santodia {
    display: flex;
    flex-direction: column;
    width: 81%;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.banner-santodia {
    border-radius: 10px;
}

.santodia-header {
    display: flex;
    width: 100%;
    height: 80px;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 0;
}

.combo-data-santodia {
    padding-top: 2px;
    height: 100%;
    width: 100%;
    display: flex;
}

.santodia-data-current {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    gap: 3px;
    width: 100%;
}

.santodiaData {
    padding-top: 2px;
    font-size: 1.9em;
    height: 100%;
    color: #717275;
}

.santodiaNome {
    line-height: 1.1em;
    font-size: 2.3em;
    padding-top: 4px;
    height: 100%;
    margin-top: 10px;
}

.santodiaText {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.hr-santodia {
    border: 1px solid;
}
/*-----------------FIM SANTO DO DIA-----------------*/





.anuncio-publicacoes {
    align-items: center;
    display: flex;
    padding: 20px;
    justify-content: center;
    border-radius: 15px !important;
    margin-left: 0px;
}

.leia-mais {
    display: block; /* Garante que o link ocupe uma linha própria */
    margin-top: 10px; /* Espaço adicional acima do link */
    text-align: right; /* Alinha o link à direita */
    text-decoration: none;
}

.leia-mais:hover {
    color: dodgerblue !important;
}

.margem-titulo {
    margin-top: 15px;
}

/*-----------------INICIO PUBLICACOES-----------------*/
@media (max-width: 1025px) {
    .container-publicacoes {
        display: flex;
        flex-direction: column;
        max-width: 960px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .anuncio-publicacoes {
        align-items: center;
        display: flex;
        padding: 20px;
        justify-content: center;
        border-radius: 15px !important;
        width: 900px;
    }
}

@media (max-width: 769px) {
    .container-publicacoes {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }


    .imagem-publicacoes {
        width: 80%;
    }

    .texto-publicacoes {
        padding-right: 140px;
    }

    .anuncio-publicacoes {
        align-items: center;
        display: flex;
        padding: 20px;
        justify-content: center;
        border-radius: 15px !important;
        width: 700px;
        margin-left: -2px;
    }
}

@media (max-width: 426px) {
    .container-publicacoes {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .imagem-publicacoes {
        width: 60%;
        margin-left: 140px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .texto-publicacoes {
        padding-right: 50px;
        padding-top: 30px;
    }

    .anuncio-publicacoes {
        align-items: center;
        display: flex;
        padding: 20px;
        justify-content: normal;
        border-radius: 15px !important;
        width: 700px;
        margin-left: 0px;
    }
}
/*-----------------FIM PUBLICACOES-----------------*/


/*-----------------INICIO PRIMEIRA PUBLICACAO-----------------*/
@media (max-width: 1025px) {
    .container-primeira-publicacao {
        display: flex;
        flex-direction: column;
        max-width: 960px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 769px) {
    .container-primeira-publicacao {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .imagem-primeira-publicacao {
        width: 50%;
    }
}

@media (max-width: 426px) {
    .container-primeira-publicacao {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

.botao-voltar {
    display: inline-flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
    width: 110px;
    text-decoration: none;
    margin-top: 10px;
}

.botao-voltar::before {
    content: '\2190';
    margin-right: 10px;
}

.botao-voltar:hover {
    background-color: #e0e0e0;
}

.botao-voltar:visited, .botao-voltar:link {
    color: black; /* Garante que a cor do texto seja sempre preta */
}
/*-----------------FIM PRIMEIRA PUBLICACAO-----------------*/


/*-----------------INICIO SEGUNDA PUBLICACAO-----------------*/
@media (max-width: 1025px) {
    .container-segunda-publicacao {
        display: flex;
        flex-direction: column;
        width: 960px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 769px) {
    .container-segunda-publicacao {
        display: flex;
        flex-direction: column;
        width: 700px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .imagem-segunda-publicacao {
        width: 50%;
    }
}

@media (max-width: 426px) {
    .container-segunda-publicacao {
        display: flex;
        flex-direction: column;
        width: 700px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
}
/*-----------------FIM SEGUNDA PUBLICACAO-----------------*/

/*-----------------INICIO PAGINA DE EVENTOS-----------------*/
.container-principal {
    width: 81%;
    margin: 0 auto;
}

.container-eventos {
    display: flex;
    flex-wrap: wrap;
}

.banner-anuncio-eventos {
    display: flex;
    justify-content: center;
}

.titulo-pesquisar-eventos {
    font-size: 36px;
    font-family: Poppins;
}

.texto-card-pesquisar-eventos {
    font-size: 24px;
    font-family: Poppins;
}

.botoes-pesquisar-eventos {
    display: flex;
    justify-content: space-between;
}

.card-pesquisar-eventos {
    background-color: rgba(217, 217, 217, 0.2);
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
}

.card-eventos {
    background-color: rgba(217, 217, 217, 0.2) !important;
    border: none;
}

.icone-localizacao {
    width: 22.8px;
    height: 22.8px;
}

.escolhas-formulario-eventos {
    background-color: rgba(237, 237, 237, 1) !important;
}

.form-control {
    background-color: rgba(237, 237, 237, 1) !important;
}

.texto-botao-localizacao {
    width: 360px !important;
    display: flex !important;
    align-items: center;
    font-family: Poppins !important;
    color: rgba(24, 119, 242, 1) !important;
    background-color: rgba(217, 217, 217, 0) !important;
    border: none !important;
    justify-content: space-between !important;
}

.botao-buscar {
    width: auto;
    height: auto;
    border-radius: 50px !important;
    padding: 3px 20px
}

.titulo-resultado-pesquisa {
    font-size: 36px;
    font-family: Poppins;
}

.data-evento1 {
    font-size: 50px;
    font-family: Poppins;
    color: rgba(30, 30, 30, 1);
}

.texto-evento1 {
    font-size: 20px;
    font-family: Poppins;
}

.texto-botao-ver-no-mapa {
    font-size: 24px;
    font-family: Poppins;
    margin-bottom: 0px;
    border: none;
}

.card-evento1 {
    justify-content: space-around;
    flex-wrap: wrap;
}

.botao-ver-no-mapa {
    border-radius: 50px !important;
    padding: 4% !important;
    color: white !important;
    background-color: rgba(24, 119, 242, 1) !important;
    justify-content: space-around !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    width: 250px !important;
    height: 45.86px !important;
}

.quadro-data1 {
    display: flex;
    flex-direction: column;
    padding: 32px;
    align-items: center;
    align-content: center;
}

.banner-evento1 {
    width: fill;
}

.coluna-banner-evento1 {
    display: flex;
    justify-content: center;
}

.coluna-informacoes-evento1 {
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.titulo-evento1 {
    font-size: 35px;
    font-family: Poppins;
}

.mes-evento1 {
    font-size: 35px;
    color: rgba(30, 30, 30, 1);
}

.anuncio-resultado-evento {
    display: flex;
    align-items: center;
    border-radius: 15px !important;
    margin: -75px auto 30px auto;
    width: 100%;
    padding: 10px 0;
    justify-content: space-evenly;
    background-color: #E6F1FF;
    z-index: 1000;
    position: sticky;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 30px;
}
/*-----------------FIM PAGINA DE EVENTOS-----------------*/

/*INICIO PAGINA FORMULARIO EVENTOS------------------------*/
.card1-paroquias {
    border: 0px;
}

.header-cardparoquias1 {
    border-bottom: none;
    padding: 0px;
    border-radius: 15px;
    background: none;
}

.titulo-cardparoquias1 {
    font-size: 32px;
}

.body-cardparoquias1 {
    background-color: rgba(217, 217, 217, 0.2);
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.textocardinformacoesparoquia {
    font-size: 24px;
}

.textocardinformacoesevento {
    font-size: 24px;
}

.textobannereventos {
    font-size: 16px;
}

.botoesinformacoesparoquia {
    background-color: rgba(237, 237, 237, 1);
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.cardeventos {
    border: 0px;
}

.header-cardeventos {
    border-bottom: none;
    background-color: white;
    padding: 0px;
}

.titulo-card-eventos {
    font-size: 32px;
}

.body-cardeventos {
    background-color: rgba(217, 217, 217, 0.2);
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.botoesdocadastrodeevento {
    background-color: rgba(237, 237, 237, 1);
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.botaoenviarformularioeventos {
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

/*Fim do Formulario*/



/*-----------------INÍCIO IGREJAS-----------------*/
.main-missas {
    min-width: 300px;
    width: 81%;
    margin: 50px auto;
}

.hidden {
    display: none;
}

#new-search-btn {
    border-radius: 50px;
    padding: 6px 30px;
    font-size: 18px;
    margin-left: 0;
}

#cancel-search-btn {
    border-radius: 50px;
    background-color: #e1e1e1 !important;
    transition: all 0.25s ease-in-out;
}

#cancel-search-btn:hover {
    border-radius: 50px;
    background-color: #c2c2c2 !important;
}

#filter {
    transition: all 0.5s ease-in-out;
}

.main-missa {
    min-width: 300px;
    width: 75%;
    margin: 50px auto;
}

.dia-semana {
    display: flex;
    margin-top: 15px;
    gap: 10px !important;
}

#search-results {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    width: 100%;
}

.anuncio-resultado-missa {
    align-items: center;
    display: flex;
    padding: 20px;
    justify-content: center;
    border-radius: 15px !important;
    margin-top: -130px;
    margin-left: auto;
    margin-right: auto;
    background-color: #E6F1FF;
    z-index: 1000;
    position: sticky;
}

.titulo-result-page {
    padding: 0 15px;
}

.conteudo-card {
    width: 100%;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 40px;
    gap: 0px;
}

.titulo-card-igreja {
    margin: 20px 20px 0 20px;
    width: 95%;
    height: contain;
}

.dados-card {
    margin: 0 20px 20px 20px;
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    width: 95%;
}

#card-endereco {
    display: flex !important;
    flex-direction: column;
    padding: 0;
    width: 510px;
}

#card-missas {
    padding: 0;
    width: 350px;
}

.btn-ver-mapa {
    border-radius: 50px;
    width: 200px;
    font-size: 17px;
}

.icone-btn-ver-mapa {
    margin-left: 10px;
}

.poppins-medium {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
}

.endereco-e-botao {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
}

.link-cadastre-aqui {
    margin-left: 15px;
    margin-top: -30px;
}

.card-title-missas {
    font-size: 20px;
}

.card-title-endereco {
    font-size: 20px;
}

.link-cadastre-aqui-resultados {
    text-decoration: none;
}
/*-----------------FIM IGREJAS-----------------*/




/*-----------------INICIO CADASTRO IGREJAS E MISSAS-----------------*/
.alert-div {
    width: 100% !important;
    border-radius: 10px 10px 10px 10px !important;
    border: none !important;
}

.alert-nenhuma {
    display: flex;
    background-color: rgb(255, 220, 124, 0.18);
    height: auto;
    margin: 20px 15px 40px 15px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.filtro-missas {
    margin-top: 50px;
}

.nenhuma {
    text-align: center;
    line-height: 24px;
    margin: 0 auto;
}

.cadastro-igreja {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    width: 81%;
}

.cards {
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    width: 100%;
}

.igreja-card,
.endereco-card,
.missa-card {
    margin-top: 50px;
}

.card-info-igreja {
    border-radius: 15px;
    background-color: #d9d9d92d;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.card-end-igreja {
    border-radius: 15px;
    background-color: #d9d9d92d;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.card-missa-igreja {
    border-radius: 15px;
    background-color: #d9d9d92d;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.input-cnpj {
    border-radius: 50px !important;
    border: none;
    width: 300px;
    min-width: 25%
}

.input-nome-igreja,
.input-telefone,
.input-email,
.input-logradouro,
.input-estado,
.input-cidade,
.input-bairro {
    border-radius: 50px !important;
    border: none;
}

.input-border-none-radius {
    border-radius: 50px !important;
    border: none;
}
    /*
.input-border-none-radius::placeholder {
    color: #bababa;
}*/

.input-border-none-radius::-webkit-input-placeholder { /* Para navegadores baseados em WebKit (Chrome, Safari) */
    color: #ff5733;
    opacity: 1; /* Controle de opacidade (1 é totalmente visível) */
}

.input-cep {
    border-radius: 50px !important;
    border: none;
    width: 180px;
}

.form-control::placeholder {
    color: #bababa;
}

.header-missas {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.option-missas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*.dias {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 20%;
    border: solid 1px red;
}*/

.dia-da-semana {
    height: 34px;
    background-color: transparent;
    border: none;
    color: #1E1E1E;
    outline: none;
    width: 20%;
    font-size: 21px;
}

.dia {
    width: 20%;
    border-bottom: solid 2px #c7c7c7;
    height: 40px;
}

.horario {
    width: 80%;
    border-bottom: solid 2px #c7c7c7;
}

.semana-field {
    width: 150px;
    height: 35px !important;
    border-radius: 50px !important;
    border: none;
}

.hora-field {
    width: 120px;
    height: 35px !important;
    border-radius: 50px !important;
    border: none;
}

.roow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.horas-options {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.horas {
    display: flex;
    column-gap: 15px;
    flex-wrap: wrap;
    width: 100%;
}

.btn-cadastrar-igreja {
    border-radius: 50px;
    width: 200px;
    font-size: 17px;
    margin-left: -13px;
    margin-top: 20px;
    box-shadow: 0px 4px 10.6px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1399px) {
    .cadastro-igreja {
        width: 90%;
    }
}
/*-----------------FIM CADASTRO IGREJAS E MISSAS-----------------*/